.footer-small-mobile {
    flex-direction: column;
    height: max-content;
    justify-content: center;
    background-color: #f9f4e2;
    color: #414141;
    padding: 32px 28px;

    .footer-small-mobile__title-block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 24px;

        p.title-block__title {
            font-size: 20px;
            font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
            margin-right: 40px;
        }

        .title-block__phone {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;

            p {
                font-size: 16px;
                font-family: 'Montserrat-medium', Arial, Helvetica, sans-serif;
                color: #414141;
            }
        }
    }

    .footer-small-mobile__links-pages {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 24px;

        p {
            font-size: 10px;
            font-family: 'Montserrat-medium', Arial, Helvetica, sans-serif;
            color: #414141;
        }
    }

    .footer-small-mobile__social-media {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}
