@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-medium';
    src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
