@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
