div.search-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    position: relative;
    margin-bottom: 48px;

    p {
        font-size: 24px;
        font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
    }

    input {
        padding: 8px 16px;
        width: calc(100% - 32px);
        border: 1px solid #70c05b;
        border-radius: 4px;
        font-size: 16px;

        &:focus {
            outline: none;
        }
    }

    img.search-block__search-icon {
        position: absolute;
        right: 10px;
        bottom: 6px;
    }
}

@media (max-width: 1440px) {
    div.search-block {
        width: 95vw;
    }
}
