div.breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
    gap: 16px;

    margin: 24px 0;

    p.breadcrumbs__last-item {
        color: #8f8f8fed;
    }
}
