.block-cards {
    display: grid;
    justify-content: space-between;
    row-gap: 40px;
    margin-bottom: 56px;
}

button.load-more-cards {
    width: 172px;
    display: block;
    height: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    color: #414141;
    margin: 0 auto;
    font-family: 'Montserrat-medium';
    margin-bottom: 80px;

    &:hover {
        cursor: pointer;
        border: 1px solid #414141;
    }
}

@media (max-width: 1440px) and (min-width: 900px) {
    .block-cards {
        grid-template-columns: repeat(3, 272px);
        width: 95vw;
    }
}

@media (min-width: 1440px) {
    .block-cards {
        grid-template-columns: repeat(4, 272px);
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .block-cards {
        grid-template-columns: repeat(2, 272px);
        width: 95vw;
    }
}

@media (max-width: 600px) {
    .block-cards {
        grid-template-columns: repeat(1, 272px);
        align-items: center;
        justify-content: center;
        width: 95vw;
    }
}
