.block-cards {
    display: grid;
    grid-template-columns: repeat(4, 272px);
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 56px;
}

button.load-more-cards {
    width: 172px;
    display: block;
    height: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    color: #414141;
    margin: 0 auto;
    font-family: 'Montserrat-medium';
}
