.content {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1440px) {
    .content {
        width: 98vw;
        padding-left: 10px;
    }
}

@media (min-width: 1440px) {
    .content {
        width: 1440px;
    }
}
