div.navbar {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    div.navbar__inner-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
    }

    h1.navbar__title {
        font-size: 20px;
        font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
    }

    div.navbar__left-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        button.navbar__button-catalog {
            background-color: #70c05b;
            color: #ffffff;
            border-radius: 4px;
            padding: 8px 12px;
            border: none;
            font-size: 16px;
            margin-left: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    div.navbar__right-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        div.right-side__ui-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 12px; // 24px / 2 = 12px
            border-bottom: 1px solid transparent;

            &:hover {
                cursor: pointer;
                border-bottom: 1px solid #414141;
            }

            p {
                font-size: 12px;
                margin-top: 8px;
            }
        }

        div.navbar__submenu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 28px; // 40px - 12px = 28px

            &:hover {
                cursor: pointer;
            }

            p {
                font-size: 16px;
                margin-left: 10px;
                margin-right: 24px;
            }
        }
    }
}

@media (max-width: 1440px) {
    div.navbar {
        div.navbar__inner-content {
            width: auto;
            padding: 0 16px;
        }
    }
}

@media (max-width: 700px) {
    div.navbar {
        div.navbar__right-side {
            display: none;
        }

        div.navbar__left-side {
            width: 100%;
            justify-content: space-between;
            padding: 0 16px;
        }
    }
}

@media (min-width: 1440px) {
    div.navbar {
        div.navbar__inner-content {
            width: 1440px;
        }
    }
}
