.main-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 120px;

    p.main-block__title {
        font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-bottom: 16px;
        color: #414141;
    }

    .main-block__info-about-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 32px;
        font-size: 12px;
        flex-wrap: wrap;

        .info-about-card__article {
            color: #414141;
            font-family: 'Montserrat-medium', Arial, Helvetica, sans-serif;
        }

        .info-about-card__reviews {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4px;
            margin: 0 24px;

            .reviews__number {
                margin-left: 8px;
                border-bottom: 1px solid #8f8f8f;
            }
        }

        .info-about-card__share {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-right: 24px;

            &:hover {
                cursor: pointer;
            }
        }

        .info-about-card__heart {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .main-block__property-card {
        .property-card__carousel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 64px;
            margin-right: 48px;

            img:hover {
                cursor: pointer;
            }
        }

        .main-block__main-image-block {
            position: relative;
            margin-right: 64px;

            .main-image-block__discount {
                padding: 4px 8px;
                background-color: #ff6633;
                border-radius: 4px;
                width: max-content;
                font-size: 16px;
                color: #ffffff;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }

        .main-block__info-block {
            display: flex;
            flex-direction: column;

            .info-block__price-block {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;

                //left-side
                .price-block__left-side {
                    display: flex;
                    flex-direction: column;

                    .left-side__price {
                        font-size: 24px;
                        margin-bottom: 6px;
                    }

                    .left-side__descr_price {
                        font-size: 12px;
                        font-family: 'Montserrat-medium', Arial, Helvetica,
                            sans-serif;
                        color: #8f8f8f;
                    }
                }
                // left-side

                // right-side
                .price-block__right-side {
                    display: flex;
                    flex-direction: column;

                    .right-side__price {
                        font-family: 'Montserrat-bold', Arial, Helvetica,
                            sans-serif;
                        font-size: 36px;
                        color: #414141;
                        margin-bottom: 6px;
                    }

                    .right-side__text-under-price {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .text-under-price__text {
                            font-size: 12px;
                            color: #8f8f8f;
                            font-family: 'Montserrat-medium', Arial, Helvetica;
                            margin-right: 8px;
                        }
                    }
                }
                // right-side
            }

            .info-block__button-cart {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 60px;
                border: none;
                border-radius: 4px;
                background-color: #ff6633;
                margin-bottom: 18px;

                &:hover {
                    cursor: pointer;
                }

                .button-cart__icon {
                    padding-left: 16px;
                }

                p {
                    font-size: 24px;
                    color: #ffffff;
                    letter-spacing: 1px;
                    width: 352px;
                    text-align: center;
                }
            }
        }

        .info-block__bonus {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 18px;
            .bonus__half-circle {
                margin-right: 8px;
            }

            p {
                color: #70c05b;
                font-size: 12px;
                font-family: 'Montserrat-medium', Arial, Helvetica;
                padding-bottom: 2px;
            }
        }

        .info-block__notify {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            p {
                font-size: 12px;
                font-family: 'Montserrat-medium', Arial, Helvetica;
                color: #414141;
            }

            .notify__bell {
                margin-right: 3.8px;
            }
        }

        .info-block__table {
            display: flex;
            flex-direction: column;

            .column-grey {
                background-color: #f3f2f1;
            }

            .table__column {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 8px 0;

                .column__text-left {
                    padding-left: 8px;
                    font-size: 12px;
                    font-family: 'Montserrat-medium', Arial, Helvetica;
                    color: #414141;
                }

                .column__text-right {
                    padding-right: 51px;
                    font-family: 'Montserrat-bold', Arial, Helvetica;
                    font-size: 12px;
                    color: #414141;
                    width: 125px;
                }
            }
        }
    }
}

//
.recommendations-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    .recommendations-block__title {
        color: #414141;
        font-size: 36px;
        font-family: 'Montserrat-bold', Arial, Helvetica;
        margin-bottom: 40px;
    }

    .recommendations-block__cards {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}
//

//
.reviews-block {
    display: flex;
    flex-direction: column;

    .reviews-block__inner-content {
        display: flex;
        margin-right: 16px;

        .inner-content__authors-reviews {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .authors-reviews__review {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .review__author {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    img.author__logo {
                        border: 1px solid #f3f2f1;
                        padding: 10px;
                        border-radius: 47px;
                    }

                    p.author__name {
                        font-family: 'Montserrat-medium', Arial, Helvetica;
                        font-size: 16px;
                        color: #414141;
                    }
                }

                .review__date {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 177px;

                    .date__stars {
                        display: flex;
                        flex-direction: row;
                        gap: 4px;
                        margin-right: 16px;
                    }

                    .date__date-number {
                        font-family: 'Montserrat-medium', Arial, Helvetica;
                        font-size: 12px;
                        color: #8f8f8f;
                    }
                }

                .review__comment {
                    font-size: 16px;
                    color: #414141;
                }
            }
        }

        .inner-content__block-messages {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 40px;
        }

        .inner-content__your-comment-block {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            width: 100%;

            .your-comment-block__place-stars {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 16px;

                .place-stars__title {
                    font-size: 18px;
                    font-family: 'Montserrat-bold', Arial, Helvetica;
                    color: #414141;
                    margin-right: 16px;
                }

                .place-stars__stars {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                }
            }

            textarea.your-comment-block__textarea {
                border: 1px solid #bfbfbf;
                border-radius: 4px;
                padding: 8px 16px;
                resize: none;
                height: 100px;
                margin-bottom: 16px;
                outline: none;

                &::placeholder {
                    font-size: 16px;
                    color: #414141;
                }
            }

            button.your-comment-block__send-review-button {
                color: #ff6633;
                background-color: #fcd5ba;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                font-family: 'Montserrat-medium', Arial, Helvetica;
                width: 188px;
                height: 40px;
                margin-bottom: 120px;
            }
        }
    }

    .reviews-block__title {
        font-size: 36px;
        font-family: 'Montserrat-bold', Arial, Helvetica;
        color: #414141;
        margin-bottom: 40px;
    }

    .inner-content__stars-left {
        display: flex;
        flex-direction: column;
        width: 200px; // 200, not 169 because width too small
        gap: 8px;
        margin-right: 113px; // 144 - 31 = 113

        .stars-left__title-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            margin-bottom: 16px;

            p.title-block__number-review {
                font-size: 18px;
                color: #414141;
                font-family: 'Montserrat-bold', Arial, Helvetica;
                margin-left: 16px;
            }
        }
    }

    .inner-content__count-reviews {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 168px;

        .count-reviews__stars {
            display: flex;
            flex-direction: row;
            gap: 4px;
            margin: 0 30px;
        }
    }
}
//
.discount-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;

    .discount-block__title-block {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title-block__title {
            font-size: 36px;
            font-family: 'Montserrat-bold', Arial, Helvetica;
            color: #414141;
            margin-bottom: 40px;
        }

        .title-block__button-all-discounts {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 975px;
            gap: 8px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            p {
                font-size: 16px;
                font-family: 'Montserrat-medium', Arial, Helvetica;
                color: #414141;
            }

            .button-all-discounts__arrow {
                padding-top: 2px;
            }
        }
    }

    .discount-block__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }
}
